.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.MuiCard-root + .MuiCard-root {
	margin-left: 1em !important;
}

.providerForm{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: auto;
	width: auto;
}

.formElementProvider{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	flex-grow: 1;
	margin: 3px solid black;
}

.providerCardHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cardTitle{
	flex:3;
	align-items: flex-start;
}

.menu_element_profile:hover{
background-color: #fee6ef;
}

.menu_element_profile{
	border: 0;
	border-top: solid 0.5px #e6e6e6;
	align-self: flex-start;
	width: 100%;
	text-align:left;
}

.menu_link{
	align-self: flex-start;
	color: grey;
	font-weight: bold;
}

.main_div_profile{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 3%;
}

.user_profile{
	width: 25%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.email_profile{
	align-self: center; 
	color: grey; 
}

.username_profile{
	align-self: center;
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
}

.menu_profile{
	width: 100%;
	justify-content: flex-start;
	display: flex;
}

